<div *ngIf="authService.isLoggedIn(); else login">
  <h1>Logged in as {{authService.userDetails.displayName}}</h1>
  <button type="button" class="btn btn-block" (click)="authService.logout()">
    <i class="fa" aria-hidden="true"></i>
    Logout
  </button>
  <!-- <p>User: {{authService.userDetails | json}}</p> -->

  <div>Icons made by <a href="https://www.flaticon.com/authors/swifticons" title="Thermometer">Thermometer</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  <div>Icons made by <a href="https://www.flaticon.com/authors/darius-dan" title="Battery">Battery</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  <div>Icons made by <a href="https://www.flaticon.com/authors/swifticons" title="Pressure">Pressure</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
  <div>Icons made by <a href="https://www.flaticon.com/authors/swifticons" title="Rain">Rain</a> from <a href="https://www.flaticon.com/"     title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"     title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</div>

<ng-template #login>
  <button type="button" class="btn btn-block" (click)="authService.signInWithGoogle()">
    <i class="fa fa-google" aria-hidden="true"></i>
      Login with Google
  </button>
</ng-template>
